body{
    background: violet;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    background-color: #4cafaf;
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}